# Introduction to DataFrames
**This is from the excellent Julia tutorial by [Bogumił Kamiński](http://bogumilkaminski.pl/about/)** <br>
Entire tutorial available [here](https://github.com/bkamins/Julia-DataFrames-Tutorial)

In any data science application it is critical to understand our data. Two approaches are important here:
- viewing the data and metadescriptors of the data
- visualisation (discussed in Part 3 of this tutorial)

In this notebook we consider how to extract basic information on the DataFrames to better understand our data.

In [26]:
using DataFrames

## Getting basic information about a data frame

Let's start by creating a `DataFrame` object, `x`, so that we can learn how to get information on that data frame.

In [27]:
x = DataFrame(A = [1, 2], B = [1.0, missing], C = ["a", "b"])

2×3 DataFrame
 Row │ A      B          C
     │ Int64  Float64?   String
─────┼──────────────────────────
   1 │     1        1.0  a
   2 │     2  missing    b

The standard `size` function works to get dimensions of the `DataFrame`,

In [28]:
size(x), size(x, 1), size(x, 2)

((2, 3), 2, 3)

as well as `nrow` and `ncol` from R.

In [29]:
nrow(x), ncol(x)

(2, 3)

`describe` gives basic summary statistics of data in your `DataFrame` (check out the help of `describe` for information on how to customize shown statistics).

In [30]:
describe(x)

3×7 DataFrame
 Row │ variable  mean    min  median  max  nmissing  eltype
     │ Symbol    Union…  Any  Union…  Any  Int64     Type
─────┼───────────────────────────────────────────────────────────────────────
   1 │ A         1.5     1    1.5     2           0  Int64
   2 │ B         1.0     1.0  1.0     1.0         1  Union{Missing, Float64}
   3 │ C                 a            b           0  String

you can limit the columns shown by `describe` using `cols` keyword argument

In [31]:
describe(x, cols=1:2)

2×7 DataFrame
 Row │ variable  mean     min   median   max   nmissing  eltype
     │ Symbol    Float64  Real  Float64  Real  Int64     Type
─────┼───────────────────────────────────────────────────────────────────────────
   1 │ A             1.5   1        1.5   2           0  Int64
   2 │ B             1.0   1.0      1.0   1.0         1  Union{Missing, Float64}

`names` will return the names of all columns as strings

In [32]:
names(x)

3-element Vector{String}:
 "A"
 "B"
 "C"

you can also get column names with a given `eltype`:

In [33]:
names(x, String)

1-element Vector{String}:
 "C"

use `propertynames` to get a vector of `Symbol`s:

In [34]:
propertynames(x)

3-element Vector{Symbol}:
 :A
 :B
 :C

using `eltype` on `eachcol(x)` returns element types of columns:

In [35]:
eltype.(eachcol(x))

3-element Vector{Type}:
 Int64
 Union{Missing, Float64}
 String

Here we create some large `DataFrame`

In [36]:
y = DataFrame(rand(1:10, 1000, 10), :auto)

1000×10 DataFrame
  Row │ x1     x2     x3     x4     x5     x6     x7     x8     x9     x10
      │ Int64  Int64  Int64  Int64  Int64  Int64  Int64  Int64  Int64  Int64
──────┼──────────────────────────────────────────────────────────────────────
    1 │     6      9      2      8      8      7      7      5      5      6
  ⋮   │   ⋮      ⋮      ⋮      ⋮      ⋮      ⋮      ⋮      ⋮      ⋮      ⋮
                                                             999 rows omitted

and then we can use `first` to peek into its first few rows

In [37]:
first(y, 5)

5×10 DataFrame
 Row │ x1     x2     x3     x4     x5     x6     x7     x8     x9     x10
     │ Int64  Int64  Int64  Int64  Int64  Int64  Int64  Int64  Int64  Int64
─────┼──────────────────────────────────────────────────────────────────────
   1 │     6      9      2      8      8      7      7      5      5      6
  ⋮  │   ⋮      ⋮      ⋮      ⋮      ⋮      ⋮      ⋮      ⋮      ⋮      ⋮
                                                              4 rows omitted

and `last` to see its bottom rows.

In [38]:
last(y, 3)

3×10 DataFrame
 Row │ x1     x2     x3     x4     x5     x6     x7     x8     x9     x10
     │ Int64  Int64  Int64  Int64  Int64  Int64  Int64  Int64  Int64  Int64
─────┼──────────────────────────────────────────────────────────────────────
   1 │     2      5      3      2      6      2      1      9      2     10
   2 │     1      6      3      5      2      2      7     10      2      1
   3 │     7      4      3      2      4      9      3      2     10      6

Using `first` and `last` without number of rows will return a first/last `DataFrameRow` in the `DataFrame`

In [39]:
first(y)

DataFrameRow
 Row │ x1     x2     x3     x4     x5     x6     x7     x8     x9     x10
     │ Int64  Int64  Int64  Int64  Int64  Int64  Int64  Int64  Int64  Int64
─────┼──────────────────────────────────────────────────────────────────────
   1 │     6      9      2      8      8      7      7      5      5      6

In [40]:
last(y)

DataFrameRow
  Row │ x1     x2     x3     x4     x5     x6     x7     x8     x9     x10
      │ Int64  Int64  Int64  Int64  Int64  Int64  Int64  Int64  Int64  Int64
──────┼──────────────────────────────────────────────────────────────────────
 1000 │     7      4      3      2      4      9      3      2     10      6

### Displaying large data frames

Create a wide and tall data frame:

In [41]:
df = DataFrame(rand(100, 100), :auto)

100×100 DataFrame
 Row │ x1        x2        x3         x4         x5        x6        x7        x8        x9          x10       x11       x12       x13       x14        x15        x16        x17       x18       x19  ⋯
     │ Float64   Float64   Float64    Float64    Float64   Float64   Float64   Float64   Float64     Float64   Float64   Float64   Float64   Float64    Float64    Float64    Float64   Float64   Floa ⋯
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │ 0.45552   0.555433  0.740774   0.0596569  0.736545  0.939493  0.366589  0.902446  0.00850931  0.485007  0.304666  0.552089  0.894406  0.932637   0.677685   0.374379   0.458715  0.482847  0.93 ⋯
  ⋮  │    ⋮         ⋮          ⋮          ⋮         ⋮         ⋮         ⋮         ⋮          ⋮          ⋮         ⋮         ⋮         ⋮          ⋮          ⋮          ⋮         ⋮         ⋮         ⋮ ⋱
                                                                                                                                                                          82 columns and 99 rows omitted

we can see that 92 of its columns were not printed. Also we get its first 30 rows. You can easily change this behavior by changing the value of `ENV["LINES"]` and `ENV["COLUMNS"]`.

In [42]:
ENV["LINES"] = 10

10

In [43]:
ENV["COLUMNS"] = 200

200

In [44]:
df

100×100 DataFrame
 Row │ x1        x2        x3         x4         x5        x6        x7        x8        x9          x10       x11       x12       x13       x14        x15        x16        x17       x18       x19  ⋯
     │ Float64   Float64   Float64    Float64    Float64   Float64   Float64   Float64   Float64     Float64   Float64   Float64   Float64   Float64    Float64    Float64    Float64   Float64   Floa ⋯
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │ 0.45552   0.555433  0.740774   0.0596569  0.736545  0.939493  0.366589  0.902446  0.00850931  0.485007  0.304666  0.552089  0.894406  0.932637   0.677685   0.374379   0.458715  0.482847  0.93 ⋯
  ⋮  │    ⋮         ⋮          ⋮          ⋮         ⋮         ⋮         ⋮         ⋮          ⋮          ⋮         ⋮         ⋮         ⋮          ⋮          ⋮          ⋮         ⋮         ⋮         ⋮ ⋱
                                                                                                                                                                          82 columns and 99 rows omitted

### Most elementary get and set operations

Given the `DataFrame` `x` we have created earlier, here are various ways to grab one of its columns as a `Vector`.

In [45]:
x

2×3 DataFrame
 Row │ A      B          C
     │ Int64  Float64?   String
─────┼──────────────────────────
   1 │     1        1.0  a
   2 │     2  missing    b

In [46]:
x.A, x[!, 1], x[!, :A] # all get the vector stored in our DataFrame without copying it

([1, 2], [1, 2], [1, 2])

In [47]:
x."A", x[!, "A"] # the same using string indexing

([1, 2], [1, 2])

In [48]:
x[:, 1] # note that this creates a copy

2-element Vector{Int64}:
 1
 2

In [53]:
x[:, 1] === x[:, 1]

true

To grab one row as a `DataFrame`, we can index as follows.

In [54]:
x[1:1, :]

1×3 DataFrame
 Row │ A      B         C
     │ Int64  Float64?  String
─────┼─────────────────────────
   1 │     1       1.0  a

In [55]:
x[1, :] # this produces a DataFrameRow which is treated as 1-dimensional object similar to a NamedTuple

DataFrameRow
 Row │ A      B         C
     │ Int64  Float64?  String
─────┼─────────────────────────
   1 │     1       1.0  a

We can grab a single cell or element with the same syntax to grab an element of an array.

In [56]:
x[1, 1]

1

or a new `DataFrame` that is a subset of rows and columns

In [57]:
x[1:2, 1:2]

2×2 DataFrame
 Row │ A      B
     │ Int64  Float64?
─────┼──────────────────
   1 │     1        1.0
   2 │     2  missing

You can also use `Regex` to select columns and `Not` from InvertedIndices.jl both to select rows and columns

In [61]:
x[Not(1), r"A"]

1×1 DataFrame
 Row │ A
     │ Int64
─────┼───────
   1 │     2

In [62]:
x[!, Not(2)] # ! indicates that underlying columns are not copied

2×2 DataFrame
 Row │ A      C
     │ Int64  String
─────┼───────────────
   1 │     1  a
   2 │     2  b

In [63]:
x[:, Not(1)] # : means that the columns will get copied

2×2 DataFrame
 Row │ B          C
     │ Float64?   String
─────┼───────────────────
   1 │       1.0  a
   2 │ missing    b

Assignment of a scalar to a data frame can be done in ranges using broadcasting:

In [64]:
x[1:2, 1:2] .= 1
x

2×3 DataFrame
 Row │ A      B         C
     │ Int64  Float64?  String
─────┼─────────────────────────
   1 │     1       1.0  a
   2 │     1       1.0  b

Assignment of a vector of length equal to the number of assigned rows using broadcasting

In [65]:
x[1:2, 1:2] .= [1,2]
x

2×3 DataFrame
 Row │ A      B         C
     │ Int64  Float64?  String
─────┼─────────────────────────
   1 │     1       1.0  a
   2 │     2       2.0  b

Assignment or of another data frame of matching size and column names, again using broadcasting:

In [66]:
x[1:2, 1:2] .= DataFrame([5 6; 7 8], [:A, :B])
x

2×3 DataFrame
 Row │ A      B         C
     │ Int64  Float64?  String
─────┼─────────────────────────
   1 │     5       6.0  a
   2 │     7       8.0  b

**Caution**

With `df[!, :col]` and `df.col` syntax you get a direct (non copying) access to a column of a data frame.
This is potentially unsafe as you can easily corrupt data in the `df` data frame if you resize, sort, etc. the column obtained in this way.
Therefore such access should be used with caution.

Similarly `df[!, cols]` when `cols` is a collection of columns produces a new data frame that holds the same (not copied) columns as the source `df` data frame. Similarly, modifying the data frame obtained via `df[!, cols]` might cause problems with the consistency of `df`.

The `df[:, :col]` and `df[:, cols]` syntaxes always copy columns so they are safe to use (and should generally be preferred except for performance or memory critical use cases).

Here are examples of how `Cols` and `Between` can be used to select columns of a data frame.

In [67]:
x = DataFrame(rand(4, 5), :auto)

4×5 DataFrame
 Row │ x1        x2        x3        x4        x5
     │ Float64   Float64   Float64   Float64   Float64
─────┼──────────────────────────────────────────────────
   1 │ 0.259531  0.201792  0.946575  0.108957  0.527328
  ⋮  │    ⋮         ⋮         ⋮         ⋮         ⋮
                                          3 rows omitted

In [68]:
x[:, Between(:x2, :x4)]

4×3 DataFrame
 Row │ x2        x3        x4
     │ Float64   Float64   Float64
─────┼──────────────────────────────
   1 │ 0.201792  0.946575  0.108957
  ⋮  │    ⋮         ⋮         ⋮
                      3 rows omitted

In [69]:
x[:, Cols("x1", Between("x2", "x4"))]

4×4 DataFrame
 Row │ x1        x2        x3        x4
     │ Float64   Float64   Float64   Float64
─────┼────────────────────────────────────────
   1 │ 0.259531  0.201792  0.946575  0.108957
  ⋮  │    ⋮         ⋮         ⋮         ⋮
                                3 rows omitted

### Views

You can simply create a view of a `DataFrame` (it is more efficient than creating a materialized selection). Here are the possible return value options.

In [70]:
@view x[1:2, 1]

2-element view(::Vector{Float64}, 1:2) with eltype Float64:
 0.25953065622770866
 0.8423742160105971

In [71]:
@view x[1,1]

0-dimensional view(::Vector{Float64}, 1) with eltype Float64:
0.25953065622770866

In [72]:
@view x[1, 1:2] # a DataFrameRow, the same as for x[1, 1:2] without a view

DataFrameRow
 Row │ x1        x2
     │ Float64   Float64
─────┼────────────────────
   1 │ 0.259531  0.201792

In [73]:
@view x[1:2, 1:2] # a SubDataFrame

2×2 SubDataFrame
 Row │ x1        x2
     │ Float64   Float64
─────┼────────────────────
   1 │ 0.259531  0.201792
   2 │ 0.842374  0.539274

### Adding new columns to a data frame

In [74]:
df = DataFrame()

0×0 DataFrame

using `setproperty!`

In [75]:
x = [1, 2, 3]
df.a = x
df

3×1 DataFrame
 Row │ a
     │ Int64
─────┼───────
   1 │     1
   2 │     2
   3 │     3

In [76]:
df.a === x # no copy is performed

true

using `setindex!`

In [77]:
df[!, :b] = x
df[:, :c] = x
df

3×3 DataFrame
 Row │ a      b      c
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     1      1      1
   2 │     2      2      2
   3 │     3      3      3

In [78]:
df.b === x # no copy

true

In [79]:
df.c === x # copy

false

In [80]:
df[!, :d] .= x
df[:, :e] .= x
df

3×5 DataFrame
 Row │ a      b      c      d      e
     │ Int64  Int64  Int64  Int64  Int64
─────┼───────────────────────────────────
   1 │     1      1      1      1      1
   2 │     2      2      2      2      2
   3 │     3      3      3      3      3

In [81]:
df.d === x, df.e === x # both copy, so in this case `!` and `:` has the same effect

(false, false)

note that in our data frame columns `:a` and `:b` store the vector `x` (not a copy)

In [82]:
df.a === df.b === x

true

This can lead to silent errors. For example this code leads to a bug (note that calling `pairs` on `eachcol(df)` creates an iterator of (column name, column) pairs):

In [83]:
for (n, c) in pairs(eachcol(df))
    println("$n: ", pop!(c))
end

a: 3
b: 2
c: 3
d: 3
e: 3

note that for column `:b` we printed `2` as `3` was removed from it when we used `pop!` on column `:a`.

Such mistakes sometimes happen. Because of this DataFrames.jl performs consistency checks before doing an expensive operation (most notably before showing a data frame).

In [84]:
df

AssertionError: AssertionError: Data frame is corrupt: length of column :c (2) does not match length of column 1 (1). The column vector has likely been resized unintentionally (either directly or because it is shared with another data frame).

We can investigate the columns to find out what happend:

In [85]:
collect(pairs(eachcol(df)))

5-element Vector{Pair{Symbol, AbstractVector{T} where T}}:
 :a => [1]
 :b => [1]
 :c => [1, 2]
 :d => [1, 2]
 :e => [1, 2]

The output confirms that the data frame `df` got corrupted.

DataFrames.jl supports a complete set of `getindex`, `getproperty`, `setindex!`, `setproperty!`, `view`, broadcasting, and broadcasting assignment operations. The details are explained here: http://juliadata.github.io/DataFrames.jl/latest/lib/indexing/.

### Comparisons

In [86]:
using DataFrames

In [87]:
df = DataFrame(rand(2,3), :auto)

2×3 DataFrame
 Row │ x1        x2        x3
     │ Float64   Float64   Float64
─────┼───────────────────────────────
   1 │ 0.134011  0.541065  0.995412
   2 │ 0.506748  0.295761  0.0493961

In [88]:
df2 = copy(df)

2×3 DataFrame
 Row │ x1        x2        x3
     │ Float64   Float64   Float64
─────┼───────────────────────────────
   1 │ 0.134011  0.541065  0.995412
   2 │ 0.506748  0.295761  0.0493961

In [89]:
df == df2 # compares column names and contents

true

create a minimally different data frame and use `isapprox` for comparison

In [90]:
df3 = df2 .+ eps()

2×3 DataFrame
 Row │ x1        x2        x3
     │ Float64   Float64   Float64
─────┼───────────────────────────────
   1 │ 0.134011  0.541065  0.995412
   2 │ 0.506748  0.295761  0.0493961

In [91]:
df == df3

false

In [92]:
isapprox(df, df3)

true

In [93]:
isapprox(df, df3, atol = eps()/2)

false

`missings` are handled as in Julia Base

In [94]:
df = DataFrame(a=missing)

1×1 DataFrame
 Row │ a
     │ Missing
─────┼─────────
   1 │ missing

In [95]:
df == df

missing

In [96]:
df === df

true

In [97]:
isequal(df, df)

true